// @import "globals";
@import "/hikeable-frontend/styles/globals.scss";

.completed_trails {
	width: auto;
}

.page_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding: 1.2em;
	font-family: $base-font;
	font-size: x-large;
}
