@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$base-color: #5e7119;
$base-font: "Montserrat", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #f8f9f9;
	min-height: 100vh;
}

img {
	max-width: 100%;
	height: auto;
}
