@import "../node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font("Shadows Into Light");

.landing__background {
  z-index: -1;
  position: "fixed";
  width: "100vw";
  height: "100vh";
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landing__title {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  z-index: 1;
  font-family: "Shadows Into Light";
}

.txt__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 3rem;
}

.btn__wrapper {
  margin-top: 6rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt__btn {
  color: whitesmoke;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  font-family: "Shadows Into Light";
}

.btn__line {
  color: #fff !important;
  padding: 1rem !important;
  border: solid 2px transparent !important;
  border-radius: 1rem;
}

.btn__line:hover {
  border: solid 2px #fff !important;
}

// @media only screen and (max-width: 340px) {
//   .landing_background {
//     position: relative;
//     display: block;
//     float: left;
//     margin: 0 auto;
//     padding: 80px 0 0 0;
//   }
//   .h1 {
//     margin-left: 10px;
//     font-size: 20px;
//   }

//   .p {
//     font-size: 10px;
//     margin-left: 20px;
//   }
// }
