.link__all {
  text-decoration: none;

  h2 {
    margin-top: 1rem;
    color: #0e2424;
  }

  .span__underline {
    text-decoration: underline;
  }
  :hover {
    color: #5e7119;
  }
}

.img__position__hiking {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 10rem;
  left: 3;
}
