.container__top__mobile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img__wrapper {
  width: 400px;
  height: 300px;
  border-radius: 1rem;
}

// .container__weather {
//   margin-top: 4vh;
//   margin-bottom: 4vh;
//   width: 30vw;
//   align-items: flex-start;
// }

// .container-map {
//   width: 40vw;
//   align-items: flex-start;
// }

.card__link {
  text-decoration: none;
}

.btn__cloudinary {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 80px;
  padding: 12px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container-tips {
  margin-top: 8vh;
  border: solid;
  border-radius: 8px;
  padding: 20px;
  width: 40vw;
}

.container-tips--header {
  display: flex;
  justify-content: space-between;
}

.container-tips--content {
  margin-top: 4vh;
  border: solid;
  border-radius: 8px;
  padding: 10px;
}

.map {
  // width: 60vw;
  height: 50vh;
}
