.container__top__mobile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img__wrapper {
  width: 100%;
  height: 70vh;
  opacity: 0.7;
  object-fit: cover;
  border-radius: 1rem;
}

.img__wrapper__mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card__link {
  color: black;
  text-decoration: none;
}

.btn__cloudinary {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #304b35;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  padding: 12px 1rem;
  cursor: pointer;
}

.btn__cloudinary:hover {
  background: #64801a;
}

.btn__cloudinary__mobile {
  margin-bottom: 1rem;
}

.container-tips {
  margin-top: 8vh;
  border: solid;
  border-radius: 8px;
  padding: 20px;
  width: 40vw;
}

.container-tips--header {
  display: flex;
  justify-content: space-between;
}

.container-tips--content {
  margin-top: 4vh;
  border: solid;
  border-radius: 8px;
  padding: 10px;
}

.map {
  // width: 60vw;
  height: 50vh;
  border-radius: 1rem;
}
